/* lato-regular */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype');
}
/* lato-300 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Lato-Light.eot');
    src: local('Lato Light'), local('Lato-Light'),
        url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Light.woff') format('woff'),
        url('../fonts/Lato-Light.ttf') format('truetype');
}

/* cormorant-garamond-regular - latin_cyrillic */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}
/* cormorant-garamond-600 - latin_cyrillic */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}

/* ---------- HTML ---------- */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 30px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.wrapper {
    max-width: 1180px;
    min-width: 1180px;
    margin: 0 auto;
}

/* ---------- Header ---------- */

.header {
    margin-bottom: 11px;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 20px;
}

.header_title {
    font-family: 'Cormorant Garamond';
    font-size: 60px;
}

.header_title_hide {
    display: none;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.nav_item {
    margin-right: 30px;
}

.nav_item:last-child {
    margin-right: 0;
}

.nav_link {
    text-decoration: none;
    color: black;
    font-size: 26px;
}

.nav_link:hover {
    color: #FF9A88;
}

.nav_link:hover {
    opacity: .75;
}

.header_subtitle {
    font-family: Lato;
    font-weight: 300;
    font-size: 20px;
    padding-left: 69px;
    color: black;
}

.header_nav_contacts {
    display: none;
}

.header_burger {
    display: none;
    margin-top: 15px;
    width: 27px;
    height: 13px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.burger_line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    right: 0;
}

.burger_line_1 {
    top: 0;
}

.burger_line_2 {
    width: 70%;
    top: 50%;
    transform: translateY(-50%);
}

.burger_line_3 {
    bottom: 0;
}

.header_phone {
    display: none;
    position: absolute;
    margin-top: 14px;
    right: 70px;
    top: 10px;
}

/* ---------- Intro ---------- */

.intro {
    margin-bottom: 125px;
    height: 700px;
    background: #F0F0F0;
    border-bottom: 5px solid #F8F8F8;
}

.intro_wrapper {
    max-width: 1180px;
    min-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
}

.intro_img {
    margin-top: 68px;
    width: 450px;
    height: 678px;    
}

.intro_body {
    margin-left: 51px;
}

.intro_title_1 {
    margin-bottom: 18px;
    margin-top: 350px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 50px;
    letter-spacing: -0.05em;
}

.intro_title_2 {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 50px;
    letter-spacing: -0.05em;
    margin-bottom: 63px;
}

.intro_button_link {
    text-decoration: none;
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 60px;
    color: #FF9A88;
}

.intro_button_link:hover {
    opacity: .75;
}

/* ---------- Offer ---------- */ 

.offer {
    margin-bottom: 86px;
}

.offer_title {
    font-size: 60px;
    font-family: 'Cormorant Garamond';
    margin-bottom: 50px;
}

.offer_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 108px;
    margin-bottom: 62px;
}

.offer_card {
    padding: 26px 0 54px 30px;
    height: 240px;
    background: url(../img/offer_bg.svg) no-repeat top left;
    background-size: 550px, 170px;
}

.offer_card_text {
    font-size: 26px;
    height: 155px;
    line-height: 1.5;
}

.offer_card_price {
    font-size: 26px;
    color: #FF9A88;
}

.offer_subtitle {
    font-size: 20px;
    text-align: center;
}

.offer_subtitle_color {
    color: #FF9A88;
}

/* ---------- Request ---------- */

.request {
    margin-bottom: 190px;
}

.request_body {
    height: 582px;
    background: #F0F0F0;
    text-align: center;
}

.request_title {
    padding-top: 102px;
    margin-bottom: 30px;
    font-family: 'Cormorant Garamond';
    font-size: 50px;
}

.request_subtitle {
    margin-bottom: 78px;
}

.request_form {
    margin-left: 80px;
    margin-bottom: 40px;
}

.form_body {
    display: flex;
    flex-wrap: nowrap;
}

.form_field {
    width: 290px;
    height: 100px;
    border: 0;
    background: #F0F0F0;
    padding: 0 0 0 30px;
    margin-right: 75px;
}

.form_field::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #FF9A88;
}

.form_button {
    color: black;
    width: 290px;
    height: 100px;
    background: #F0F0F0;
    border: 1px solid #FF9A88;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #FF9A88;
}

.form_button:hover {
    opacity: .75;
}

.request_info {
    font-size: 24px;
}

.msg_green {
    color: green;
    margin-bottom: 20px;
}

.msg_red {
    color: red;
    margin-bottom: 20px;
}

/* ---------- Work ---------- */

.work {
    margin-bottom: 206px;
}

.work_title {
    font-size: 60px;
    font-family: 'Cormorant Garamond';
    margin-bottom: 113px;
}

.work_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    margin-bottom: 93px;
}

.work_card {
    text-align: center;
}

.work_card_num {
    display: none;
}

.work_card_icon {
    margin-bottom: 35px;
}

.work_card_title {
    margin-bottom: 29px;
    font-weight: 500;
    font-size: 23px;
}

.work_card_text {
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
}

.work_links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.work_link {
    background: url('/img/arrow_icon.svg') no-repeat;
    background-position: 0px 7px;
    text-decoration: none;
    cursor: pointer;
    font-size: 26px;
    line-height: 1.5;
    color: black;
    padding-left: 84px;
    margin-right: 84px;
}

.work_link:hover {
    opacity: 0.75;
}

.work_text {
    font-size: 20px;
    line-height: 1.5;
}

.work_link_active {
    color: #FF9A88;
}

.work_expand_1 {
    display: block;
}

.work_expand_2 {
    display: block;
}

.work_expand {
    font-size: 20px;
    line-height: 1.5;
    width: 1034px;
    margin-top: 50px;
    margin-left: 146px;
}

.work_expand ul {
    margin-bottom: 27px;
}

.work_expand li {
    background: url('/img/checkbox_icon.svg') no-repeat top left;
    background-position: 0 5px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.work_expand_button {
    margin-left: 315px;
    padding: 15px 96px 15px 96px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    background: #FF9A88;
}

.work_expand_button:hover {
    opacity: 0.75;
}

.work_expand_contacts {
    display: none;
}

/* ---------- About Me ---------- */

.about {
    margin-bottom: 118px;
    height: 526px;
    background: #FFF9F8;
}

.about_wrapper {
    max-width: 1180px;
    min-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about_title {
    padding-top: 93px;
    margin-bottom: 35px;
    font-family: 'Cormorant Garamond';
    font-size: 48px;  
}

.about_img {
    width: 350.67px;
    height: 526px;
    margin-top: -58px;
}

.about_img_hide {
    display: none;
}

/* ---------- Reviews ---------- */

.reviews {
    margin-bottom: 135px;
}

.reviews_title {
    margin-bottom: 47px;
    font-family: 'Cormorant Garamond';
    font-size: 48px;
    text-align: center;
}

.reviews_card {
    width: 360px;
    height: 682px;
    background: #F0F0F0;
    align-content: center;
    display: flex;
    align-items: center;
}

.reviews_card_body {
    margin: 0 20px;
    font-size: 17px;
    line-height: 1.5;
    color: #17110A;
}

.reviews_card_title {
    margin-bottom: 10px;
}

/* ---------- Footer ---------- */

.footer {
    padding-bottom: 222px;
}

.footer_wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 33px;
}

.footer_title {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.footer_subtitle {
    display: none;
}

.contacts_list {
    font-size: 24px;  
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.contacts_item {
    font-size: 24px;
    margin-right: 38px;
}

.contacts_item:last-child {
    margin-right: 0;
}

.contacts_icon {
    width: 26px;
    height: 26px;
    margin-right: 25px;
}

.contacts_socials_link {
    text-decoration: none;
    margin-right: 20px;
}

.contacts_socials_icon {
    width: 40px;
    height: 40px;
}

.contacts_link {
    margin-left: -20px;
    padding-top: 6px;
    text-decoration: none;
    color: black;
}

.contacts_socials_icon:hover, .contacts_link:hover {
    opacity: .75;
}

.footer_date {
    font-size: 15px;
}

.footer_nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.footer_nav_item {
    margin-right: 30px;
}

.footer_nav_item:last-child {
    margin-right: 0;
}

.footer_nav_link {
    text-decoration: none;
    color: black;
    font-size: 26px;
}

.footer_nav_link:hover {
    color: #FF9A88;
}

.footer_nav_link:hover {
    opacity: .75;
}

.footer_caption {
    display: none;
}

/* ---------- Media ---------- */

@media screen and (max-width: 767px) {

    .wrapper {
        min-width: 360px;
        /* max-width: 360px; */
    }

    .header_burger {
        display: block;
    }

    .header_nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #F0F0F0;
        z-index: 10;
        padding: 17px;
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .header_nav_active {
        transform: translateX(0);
    }

    .nav_item {
        width: 100%;
        margin-right: 30px;
        margin-bottom: 23px;
    }

    .nav_item:last-child {
        margin-bottom: 0;
    }

    .nav_link {
        font-weight: 500;
        font-size: 18px;
    }

    .header_nav_close {
        width: 16px;
        height: 16px;
        position: absolute;
        margin-top: 14px;
        top: 10px;
        right: 20px;
        z-index: 11;
    }

    .header_nav_close_line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #FF9A88;
        position: absolute;
        top: 50%;
    }

    .header_nav_close_line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header_nav_close_line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .header_list {
        margin-bottom: 142px;
    }

    .header_phone {
        display: block;
        font-size: 15px;
    }

    .header_phone_icon {
        width: 13px;
        height: 13px;
    }

    .header_phone_link {
        text-decoration: none;
        color: black;
    }

    .header_title {
        margin: 0 auto;
        font-size: 30px;
        margin-top: 52px;
    }

    .header_title_hide {
        display: block;
        font-size: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(23, 17, 10, 0.3);
        margin-bottom: 100px;
    }

    .header_subtitle {
        text-align: center;
        font-size: 14px;
        padding-left: 0;
    }

    .header_nav_contacts {
        display: block;
    }

    .intro {
        height: 460px;
        margin-bottom: 240px;
    }

    .intro_wrapper {
        min-width: 360px;
        /* max-width: 360px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro_img {
        margin-top: 30px;
        width: 300px;
        height: 453px;
    }

    .intro_body {
        width: 330px;
        margin-left: 10px;
    }
    

    .intro_title_1 {
        margin-top: 51px;
        font-size: 20px;
        font-weight: 400;
    }

    .intro_title_2 {
        font-size: 20px;
        margin-bottom: 24px;
        font-weight: 400;
    }
    
    .intro_button {
        text-align: center;
        width: 165px;
        height: 48px;
        background: #FF9A88;
    }

    .intro_button_link {
        font-family: 'Lato';
        font-size: 17px;
        color: #FFFFFF;
        font-weight: normal;

    }
    
    .intro_button_link:hover {
        opacity: .75;
    }

    .offer {
        height: 930px;
        background: #F0F0F0;
        margin-bottom: 44px;
    }

    .offer_title {
        font-size: 25px;
        line-height: 1.5;
        padding-top: 31px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 330px;
        text-align: left;
    }

    .offer_cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        margin-bottom: 62px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .offer_card {
        padding: 10px 0 0 30px;
        height: 148px;
        width: 343px;
        background: url(../img/offer_bg.svg) no-repeat top left;
        background-size: 343px, 102px;
        margin: 0 auto;
    }
    
    .offer_card_text {
        font-size: 17px;
        height: 80px;
        margin-bottom: 20px;
    }
    
    .offer_card_price {
        font-size: 17px;
    }
    
    .offer_subtitle {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        margin: 0 auto;
        width: 330px;
    }

    .request {
        margin-bottom: 61px;
    }
    
    .request_body {
        height: 300px;
        background: white;
    }
    
    .request_title {
        padding-top: 0;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 330px;
        text-align: left;
        font-size: 25px;
        line-height: 1.5;
    }
    
    .request_subtitle {
        display: none;
    }
    
    .request_form {
        margin-left: 0;
        margin-bottom: 0;
    }
    
    .form_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .form_field {
        width: 328px;
        height: 35px;
        background: white;
        padding: 0 0 0 0;
        margin-right: 0;
        margin-bottom: 26px;
        border-bottom: solid 1px #8A8A8A;
        font-size: 15px;
    }
    
    .form_field::placeholder {
        font-size: 15px;
        line-height: 1.5;
        color: #8A8A8A;
    }
    
    .form_button {
        width: 328px;
        height: 48px;
        font-size: 18px;
        color: white;
        background: #FF9A88;
        margin-bottom: 21px;
    }
    
    .request_info {
        font-size: 15px;
        width: 330px;
        margin: 0 auto;
    }

    .msg_green {
        font-size: 15px;
    }
    
    .msg_red {
        font-size: 15px;
    }

    .work {
        background: #F0F0F0;
        margin-bottom: 100px;
    }

    .work_title {
        font-size: 25px;
        line-height: 1.5;
        text-align: left;
        padding-top: 43px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: 330px;
    }

    .work_cards {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        margin-bottom: 71px;
    }

    .work_card {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .work_card_num {
        display: block;
        font-size: 17px;
        width: 330px;
        margin: 0 auto;
        text-align: left;
    }

    .work_card_icon {
        margin-bottom: 35px;
    }
    
    .work_card_title {
        margin-bottom: 29px;
        font-size: 18px;
    }
    
    .work_card_text {
        width: 330px;
        margin: 0 auto;
        font-size: 17px;
    }

    .work_card_bg_grey {
        background: white;
    }

    .work_links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        padding-top: 40px;
        margin-left: -50px;
    }
    
    .work_link {
        background: url('/img/arrow_icon_sm.svg') no-repeat;
        background-position: 0px 7px;
        font-size: 18px;
        color: black;
        padding-left: 84px;
        margin-right: 0;
        margin-bottom: 20px;
        width: 300px;
    }

    .work_expand {
        font-size: 17px;
        width: 330px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }
    
    .work_expand ul {
        margin-bottom: 0;
    }
    
    .work_expand_button {
        display: block;
        width: 328px;
        margin-left: 0;
        margin-bottom: 20px;
        padding: 14px 95px 14px 95px;
        font-size: 17px;
    }

    .work_link_active {
        color: #FF9A88;
    }

    .work_expand_contacts {
        margin-bottom: 15px;
        display: block;
    }

    .work_expand_contacts_icon {
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }

    .work_expand_contacts_link {
        text-decoration: none;
        font-size: 17px;
        color: black;
    }

    .about {
        margin-bottom: 150px;
        height: 680px;
        background: white;
    }
    
    .about_wrapper {
        min-width: 360px;
        /* max-width: 360px; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .about_title {
        padding-top: 10px;
        margin-bottom: 35px;
        font-size: 25px;
    }

    .about_text {
        font-size: 18px;
        width: 330px;
    }

    .about_img {
        display: none;
    }
    
    .about_img_hide {
        display: block;
        width: 250px;
        height: 375px;
        margin-top: 43px;
        margin-bottom: 71px;
        margin-left: 20px;
    }

    .reviews {
        background-color: #F0F0F0;
        margin-bottom: 32px;
    }

    .reviews_title {
        font-size: 30px;
        width: 330px;
        padding-top: 51px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    .reviews_card {
        height: 477px;
        background: #F0F0F0;
        align-content: center;
        display: flex;
        align-items: flex-start;
    }

    .reviews_cards {
        width: 360px;
        margin: 0 auto;
    }

    .footer_wrapper {
        width: 330px;
        display: block;
        margin: 0 auto;
    }

    .footer_title {
        display: none;
    }

    .footer_date {
        display: none;
    }

    .contacts_list {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .contacts_item {
        padding-bottom: 20px;
    }

    .contacts_link {
        font-size: 17px;
    }

    .footer {
        padding-bottom: 22px;
    }

    .footer_subtitle {
        display: block;
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 20px;
        color: #8A8A8A;
    }

    .footer_nav {
        justify-content: space-between;
    }

    .footer_nav_item {
        margin-right: 10px;
    }

    .footer_nav_link {
        font-size: 17px;
    }

    .footer_caption {
        display: block;
        font-size: 17px;
        margin-top: 10px;
        padding-top: 15px;
        border-top: solid 1px #FF9A88;
    }

}