/* lato-regular */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype');
}
/* lato-300 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Lato-Light.eot');
    src: local('Lato Light'), local('Lato-Light'),
        url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Light.woff') format('woff'),
        url('../fonts/Lato-Light.ttf') format('truetype');
}

/* cormorant-garamond-regular - latin_cyrillic */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}
/* cormorant-garamond-600 - latin_cyrillic */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}

/* ---------- HTML ---------- */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 30px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.wrapper {
    width: 1180px;
    margin: 0 auto;
}

/* ---------- Header ---------- */

.header {
    margin-bottom: 11px;
}

.header_wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 20px;
}

.header_title {
    font-family: 'Cormorant Garamond';
    font-size: 60px;
}

.header_nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.nav_item {
    margin-right: 30px;
}

.nav_item:last-child {
    margin-right: 0;
}

.nav_link {
    text-decoration: none;
    color: black;
    font-size: 26px;
}

.nav_link_color {
    color: #FF9A88;
}

.nav_link:hover {
    opacity: .75;
}

.header_subtitle {
    font-family: Lato;
    font-weight: 300;
    font-size: 20px;
    padding-left: 69px;
    color: black;
}

/* ---------- Intro ---------- */

.intro {
    margin-bottom: 125px;
    height: 700px;
    background: #F0F0F0;
    border-bottom: #F8F8F8 5px solid;
}

.intro_wrapper {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
}

.intro_img {
    margin-top: 68px;
    width: 450px;
    height: 678px;    
}

.intro_body {
    margin-left: 51px;
}

.intro_title_1 {
    margin-bottom: 18px;
    margin-top: 350px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 50px;
    letter-spacing: -0.05em;
}

.intro_title_2 {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 50px;
    letter-spacing: -0.05em;
    margin-bottom: 63px;
}

.intro_button {
    text-decoration: none;
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 60px;
    color: #FF9A88;
}

.intro_button:hover {
    opacity: .75;
}

/* ---------- Offer ---------- */ 

.offer {
    margin-bottom: 86px;
}

.offer_title {
    font-size: 60px;
    font-family: 'Cormorant Garamond';
    margin-bottom: 50px;
}

.offer_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 108px;
    margin-bottom: 62px;
}

.offer_card {
    padding: 26px 0 54px 30px;
    height: 240px;
    background: url(../img/offer_bg.svg) no-repeat top left;
    background-size: 550px, 170px;
}

.offer_card_text {
    font-size: 26px;
    height: 155px;
    line-height: 1.5;
}

.offer_card_price {
    font-size: 26px;
    color: #FF9A88;
}

.offer_subtitle {
    font-size: 20px;
    text-align: center;
}

.offer_subtitle_color {
    color: #FF9A88;
}

/* ---------- Request ---------- */

.request {
    margin-bottom: 190px;
}

.request_body {
    height: 582px;
    background: #F0F0F0;
    text-align: center;
}

.request_title {
    padding-top: 102px;
    margin-bottom: 30px;
    font-family: 'Cormorant Garamond';
    font-size: 50px;
}

.request_subtitle {
    margin-bottom: 78px;
}

.request_form {
    margin-left: 80px;
    margin-bottom: 40px;
}

.form_body {
    display: flex;
    flex-wrap: nowrap;
}

.form_field {
    width: 290px;
    height: 100px;
    border: 0;
    background: #F0F0F0;
    padding: 0 0 0 30px;
    margin-right: 75px;
}

.form_field::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #FF9A88;
}

.form_button {
    color: black;
    width: 290px;
    height: 100px;
    background: #F0F0F0;
    border: 1px solid #FF9A88;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #FF9A88;
}

.form_button:hover {
    opacity: .75;
}

.request_info {
    font-size: 24px;
}

/* ---------- Work ---------- */

.work {
    margin-bottom: 206px;
}

.work_title {
    font-size: 60px;
    font-family: 'Cormorant Garamond';
    margin-bottom: 113px;
}

.work_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    margin-bottom: 93px;
}

.work_card {
    text-align: center;
}

.work_card_icon {
    margin-bottom: 35px;
}

.work_card_title {
    margin-bottom: 29px;
    font-weight: 500;
    font-size: 23px;
}

.work_card_text {
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
}

.work_links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.work_link {
    background: url('/img/arrow_icon.svg') no-repeat;
    background-position: 0px 7px;
    text-decoration: none;
    cursor: pointer;
    font-size: 26px;
    line-height: 1.5;
    color: black;
    padding-left: 84px;
    margin-right: 84px;
}

.work_link:hover {
    opacity: 0.75;
}

.work_text {
    font-size: 20px;
    line-height: 1.5;
}

.work_link_active {
    color: #FF9A88;
}

.work_expand_1 {
    display: block;
}

.work_expand_2 {
    display: block;
}

.work_expand {
    font-size: 20px;
    line-height: 1.5;
    width: 1034px;
    margin-top: 50px;
    margin-left: 146px;
}

.work_expand ul {
    margin-bottom: 27px;
}

.work_expand li {
    background: url('/img/checkbox_icon.svg') no-repeat top left;
    background-position: 0 5px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.work_expand_button {
    margin-left: 315px;
    padding: 15px 96px 15px 96px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    background: #FF9A88;
}

.work_expand_button:hover {
    opacity: 0.75;
}

/* ---------- About Me ---------- */

.about {
    margin-bottom: 118px;
    height: 526px;
    background: #FFF9F8;
}

.about_wrapper {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about_title {
    padding-top: 93px;
    margin-bottom: 35px;
    font-family: 'Cormorant Garamond';
    font-size: 48px;  
}

.about_img {
    width: 350.67px;
    height: 526px;
    margin-top: -58px;
}

/* ---------- Reviews ---------- */

.reviews {
    margin-bottom: 135px;
}

.reviews_title {
    margin-bottom: 47px;
    font-family: 'Cormorant Garamond';
    font-size: 48px;
    text-align: center;
}

.reviews_card {
    width: 360px;
    height: 682px;
    background: #F0F0F0;
    align-content: center;
    display: flex;
    align-items: center;
}

.reviews_card_body {
    margin: 0 20px;
    font-size: 17px;
    line-height: 1.5;
    color: #17110A;
}

.reviews_card_title {
    margin-bottom: 10px;
}

/* ---------- Footer ---------- */

.footer {
    padding-bottom: 222px;
}

.footer_wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 33px;
}

.footer_title {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.contacts_list {
    font-size: 24px;  
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.contacts_item {
    font-size: 24px;
    margin-right: 38px;
}

.contacts_item:last-child {
    margin-right: 0;
}

.contacts_icon {
    width: 26px;
    height: 26px;
}

.contacts_socials_icon {
    width: 40px;
    height: 40px;
}

.contacts_link {
    margin-left: -20px;
    padding-top: 6px;
    text-decoration: none;
    color: black;
}

.contacts_socials_icon:hover, .contacts_link:hover {
    opacity: .75;
}

.footer_date {
    font-size: 15px;
}

.footer_nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}