/* lato-regular */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype');
}
/* lato-300 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Lato-Light.eot');
    src: local('Lato Light'), local('Lato-Light'),
        url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Light.woff') format('woff'),
        url('../fonts/Lato-Light.ttf') format('truetype');
}

/* cormorant-garamond-regular - latin_cyrillic */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-regular.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}
/* cormorant-garamond-600 - latin_cyrillic */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/cormorant-garamond-v9-latin_cyrillic-600.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}

/* ---------- HTML ---------- */

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 30px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.wrapper {
    width: 1180px;
    margin: 0 auto;
}

/* ---------- Header ---------- */

.header {
    margin-bottom: 41px;
}

.header_wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 20px;
}

.header_title {
    font-family: 'Cormorant Garamond';
    font-size: 60px;
}

.header_nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.nav_item {
    margin-right: 30px;
}

.nav_item:last-child {
    margin-right: 0;
}

.nav_link {
    text-decoration: none;
    color: black;
}

.nav_link:hover {
    opacity: .75;
}

.header_subtitle {
    font-family: Lato;
    font-weight: 300;
    font-size: 20px;
    padding-left: 69px;
    color: black;
}

/* ---------- Intro ---------- */

.intro {
    margin-bottom: 201px;
    height: 816px;
    background: #F0F0F0;
    border-bottom: #F8F8F8 5px solid;
}

.intro_wrapper {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
}

.intro_img {
    margin-top: 71px;
    width: 528px;
    height: 796px;    
}

.intro_body {
    margin-left: 123px;
}

.intro_title_1 {
    margin-bottom: 18px;
    margin-top: 304px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 50px;
    letter-spacing: -0.05em;
}

.intro_title_2 {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 50px;
    letter-spacing: -0.05em;
    margin-bottom: 94px;
}

.intro_subtitle {
    font-weight: 300;
}

.intro_title_3 {
    margin-bottom: 38px;
    font-weight: 300;
    font-size: 48px;
    letter-spacing: -0.05em;
}

.intro_button {
    text-decoration: none;
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 60px;
    color: #FF9A88;
}

.intro_button:hover {
    opacity: .75;
}

/* ---------- Offer ---------- */ 

.offer {
    margin-bottom: 150px;  
}

.offer_wrapper {
    width: 1300px;
    margin: 0 auto;
}

.offer_left {
    padding: 54px 0 54px 47px;
    margin-bottom: 31px;
    height: 397px;
    background: url(../img/offer_bg.svg) no-repeat left;
    background-size: contain;
}

.offer_title {
    margin-bottom: 10px;
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 40px;
}

.offer_subtitle {
    margin-bottom: 74px;
}

.offer_price {
    font-family: 'Cormorant Garamond';
    font-size: 70px;
    color: #FF9A88;
}

.offer_right {
    padding: 54px 47px 54px 0;
    margin-bottom: 31px;
    height: 397px;
    background: url(../img/offer_bg.svg) no-repeat right;
    background-size: contain;
}

/* ---------- Request ---------- */

.request {
    margin-bottom: 190px;
}

.request_body {
    height: 582px;
    background: #F0F0F0;
    border-radius: 20px;
    text-align: center;
}

.request_title {
    padding-top: 102px;
    margin-bottom: 30px;
    font-family: 'Cormorant Garamond';
    font-size: 50px;
}

.request_subtitle {
    margin-bottom: 78px;
}

.request_form {
    margin-left: 80px;
    margin-bottom: 40px;
}

.form_body {
    display: flex;
    flex-wrap: nowrap;
}

.form_field {
    width: 290px;
    height: 100px;
    border: 0;
    background: #F0F0F0;
    border-radius: 20px;  
    padding: 0 0 0 30px;
    margin-right: 75px;
}

.form_field::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #FF9A88;
}

.form_button {
    color: black;
    width: 290px;
    height: 100px;
    background: #F0F0F0;
    border: 1px solid #FF9A88;
    border-radius: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #FF9A88;
}

.form_button:hover {
    opacity: .75;
}

.request_info {
    font-size: 24px;
}

/* ---------- About Me ---------- */

.about {
    margin-bottom: 118px;
    height: 526px;
    background: #FFF9F8;
}

.about_wrapper {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about_title {
    padding-top: 93px;
    margin-bottom: 35px;
    font-family: 'Cormorant Garamond';
    font-size: 48px;  
}

.about_img {
    width: 350.67px;
    height: 526px;
    margin-top: -58px;
}

/* ---------- Reviews ---------- */

.reviews {
    margin-bottom: 135px;
}

.reviews_title {
    margin-left: 499px;
    margin-bottom: 53px;
    font-family: 'Cormorant Garamond';
    font-size: 48px;
}

.reviews_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 48px;
    margin-bottom: 62px;
}

.reviews_button {
    margin-left: 300px;
    padding: 14px 72px 8px 72px;
    border: 1px solid #FF9A88;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Cormorant Garamond';
    font-size: 35px;
    color: #FF9A88;
}

.reviews_button:hover {
    opacity: .75;
}

/* ---------- Footer ---------- */

.footer {
    padding-bottom: 319px;
}

.footer_wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
}

.footer_title {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.contacts_list {
    font-size: 24px;  
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.contacts_item {
    font-size: 24px;
    margin-right: 38px;
}

.contacts_item:last-child {
    margin-right: 0;
}

.contacts_icon {
    width: 40px;
    height: 40px;
}

.contacts_link {
    margin-left: -20px;
    padding-top: 6px;
    text-decoration: none;
    color: black;
}

.contacts_icon:hover, .contacts_link:hover {
    opacity: .75;
}